﻿
@{
    ViewBag.Title = "Index";
}


<div class="main-content">
	<div class="container-center">
		<h2 class="title">Edit info about</h2>
		<button class="my-button admin-buttons" onclick="location.href='@Url.Action("Users", "Admin")'">Users</button>
		<button class="my-button admin-buttons" onclick="location.href='@Url.Action("Messages", "Admin")'">Messages</button>
		<button class="my-button admin-buttons" onclick="location.href='@Url.Action("Posts", "Admin")'">Posts</button>
	</div>
</div>