﻿@model PagedList.IPagedList<SimpleSocialNetwork.Models.MessageViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Messages";
}

<div class="main-content">
	<h2 class="title">Messages</h2>
	<div class="table-wrapper">
		<div class="table-container">
			@using (Html.BeginForm())
			{
				<p>
					Find by profile id: @Html.TextBox("SearchString")
					<input type="submit" value="Search" />
				</p>
			}

			<table class="user-table">
				<tr>
					<td>
						<h3>Id</h3>
					</td>

					<td>
						<h3>Content</h3>
					</td>

					<td>
						<h3>SenderId</h3>
					</td>

					<td>
						<h3>ReceiverId</h3>
					</td>

					<td>
						<h3>CreatedAt</h3>
					</td>

					<td>
						<h3>Action</h3>
					</td>
				</tr>

				@if (Model != null)
				{
					foreach (var message in Model)
					{
						if (message.IsDeleted)
						{
							ViewBag.Deleted = "deleted-model";
						}
						else
						{
							ViewBag.Deleted = "";
						}
						<tr class="@ViewBag.Deleted">
							<td>
								<h3>@message.Id</h3>
							</td>

							<td>
								<h3>@message.Content</h3>
							</td>

							<td>
								<h3>@message.SenderId</h3>
							</td>

							<td>
								<h3>@message.ReceiverId</h3>
							</td>

							<td>
								<h3>@message.CreatedAt</h3>
							</td>

							<td>
								<button class="my-button edit-button" id="@message.Id" onclick="location.href='@Url.Action("MessageForm", "Admin", new { id = message.Id })'">Edit</button>
							</td>
						</tr>
					}
				}
			</table>

			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

			@Html.PagedListPager(Model, page => Url.Action("Messages", new { page, searchString = ViewBag.SearchString }))
		</div>
	</div>
</div>
