﻿@model SimpleSocialNetwork.Models.MessageViewModel
@{
    ViewBag.Title = "MessageForm";
}

<div class="main-content">
	<h1 class="title">Update message</h1>
	<div class="container-center">
		@if (Model != null)
		{
			ViewBag.Value = "Delete";
			ViewBag.Action = "DeleteMessage";
			if (Model.IsDeleted)
			{
				ViewBag.Value = "Restore";
				ViewBag.Action = "RestoreMessage";
			}
			using (Html.BeginForm("MessageForm", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<h3>Content</h3>
				@Html.ValidationMessageFor(m => m.Content) <br />
				@Html.TextAreaFor(m => m.Content, new { @class = "message-form", placeholer = Model.Content })
				@Html.ValidationSummary(true);
				<p class="send-button">
					<input type="submit" class="my-button" value="Save" />
				</p>

				<p class="send-button">
					<button class="my-button delete-button" onclick="location.href='@Url.Action(ViewBag.Action, "Admin", new { Model.Id })'">@ViewBag.Value</button>
				</p>
			}
		}
	</div>
</div>