﻿@model PagedList.IPagedList<SimpleSocialNetwork.Models.PostViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Posts";
}

<div class="main-content">
	<h2 class="title">Client profiles</h2>
	<div class="table-wrapper">
		<div class="table-container">
			@using (Html.BeginForm())
			{
				<p>
					Find by profile id: @Html.TextBox("SearchString")
					<input type="submit" value="Search" />
				</p>
			}

			<table class="user-table">
				<tr>
					<td>
						<h3>Id</h3>
					</td>

					<td>
						<h3>Title</h3>
					</td>

					<td>
						<h3>Content</h3>
					</td>

					<td>
						<h3>CreatedAt</h3>
					</td>

					<td>
						<h3>Client profile id</h3>
					</td>

					<td>
						<h3>Action</h3>
					</td>
				</tr>

				@if (Model != null)
				{
					foreach (var post in Model)
					{
						if (post.IsDeleted)
						{
							ViewBag.Deleted = "deleted-model";
						}
						else
						{
							ViewBag.Deleted = "";
						}
						<tr class="@ViewBag.Deleted">
							<td>
								<h3>@post.Id</h3>
							</td>

							<td>
								<h3>@post.Title</h3>
							</td>

							<td>
								<h3>@post.Content</h3>
							</td>

							<td>
								<h3>@post.CreatedAt</h3>
							</td>

							<td>
								<h3>@post.OwnerId</h3>
							</td>

							<td>
								<button class="my-button edit-button" id="@post.Id" onclick="location.href='@Url.Action("PostForm", "Admin", new { id = post.Id })'">Edit</button>
							</td>
						</tr>
					}
				}
			</table>
			<br />
			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

			@Html.PagedListPager(Model, page => Url.Action("Posts", new { page, searchString = ViewBag.SearchString }))
		</div>
	</div>
</div>
