﻿@model SimpleSocialNetwork.Models.PostViewModel
@{
    ViewBag.Title = "PostForm";
}

<div class="main-content">
	<h1 class="title">Update post</h1>
	<div class="container-center">
		@if (Model != null)
		{
			ViewBag.Value = "Delete";
			ViewBag.Action = "DeletePost";
			if (Model.IsDeleted)
			{
				ViewBag.Value = "Restore";
				ViewBag.Action = "RestorePost";
			}
			using (Html.BeginForm("PostForm", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<h3>Theme</h3>
				@Html.ValidationMessageFor(m => m.Content) <br />
				@Html.TextAreaFor(m => m.Title, new { @class = "post-title", placeholer = Model.Title })

				<h3>Post</h3>
				@Html.ValidationMessageFor(m => m.Title) <br />
				@Html.TextAreaFor(m => m.Content, new { @class = "post-text", placeholer = Model.Content })
				@Html.ValidationSummary(true);

				<p class="send-button">
					<input type="submit" class="my-button" value="Save" />
				</p>

				<p class="send-button">
					<button class="my-button delete-button" onclick="location.href='@Url.Action(ViewBag.Action, "Admin", new { Model.Id })'">@ViewBag.Value</button>
				</p>
			}
		}
	</div>
</div>