﻿@model PagedList.IPagedList<SimpleSocialNetwork.Models.ClientProfileViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Users";
}

<script src="~/Scripts/script.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="main-content">
	<h2 class="title">Client profiles</h2>
	<div class="table-wrapper">
		<div class="table-container">
			@using (Html.BeginForm())
			{
				<p>
					Find by id: @Html.TextBox("SearchString")
					<input type="submit" value="Search" />
				</p>
			}

			@{ int counter = 1; }
			<table class="user-table">
				<tr>
					<td>
						<h3>№</h3>
					</td>

					<td>
						<h3>Id</h3>
					</td>

					<td>
						<h3>Name</h3>
					</td>

					<td>
						<h3>Location</h3>
					</td>

					<td>
						<h3>Birthday date</h3>
					</td>

					<td>
						<h3>About</h3>
					</td>

					<td>
						<h3>Email</h3>
					</td>

					<td>
						<h3>Avatar</h3>
					</td>

					<td>
						<h3>Action</h3>
					</td>
				</tr>

				@if (Model != null)
				{
					foreach (var profile in Model)
					{
						if (profile.IsDeleted)
						{
							ViewBag.Deleted = "deleted-model";
						}
						else
						{
							ViewBag.Deleted = "";
						}
						<tr class="@ViewBag.Deleted">
							<td>
								<h3>@counter</h3>
							</td>

							<td>
								<h3>@profile.Id</h3>
							</td>

							<td>
								<h3>@profile.Name</h3>
							</td>

							<td>
								<h3>@profile.Location</h3>
							</td>

							<td>
								<h3>@profile.BirthdayDate.ToString("dd/MM/yyyy")</h3>
							</td>

							<td>
								<h3>@profile.About</h3>
							</td>

							<td>
								<h3>@profile.Email</h3>
							</td>

							<td>
								@{
									string avatarPath = "~/Content/img/avatar.jpg";
									string dir = $"~/Files/avatars/user-{profile.Id}/{profile.Avatar}";
									if (File.Exists(Server.MapPath(dir)))
									{
										avatarPath = $"~/Files/avatars/user-{profile.Id}/{profile.Avatar}";
									}
								}
								<a href="@Url.Action("UserProfile", "User", new { profile.Id })">
									<img src="@Url.Content(avatarPath)" alt="Avatar" class="profile-avatar" />
								</a>
							</td>

							<td>
								<button class="my-button edit-button" id="@profile.Id" onclick="location.href='@Url.Action("UserForm", "Admin", new { id = profile.Id })'">Edit</button>
							</td>
						</tr>
						counter++;
					}
				}
			</table>
			<br />

			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

			@Html.PagedListPager(Model, page => Url.Action("Users", new { page, searchString = ViewBag.SearchString }))
		</div>
	</div>
</div>

