﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="~/favicon.ico" type="image/x-icon" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css/Site.css")
	@Styles.Render("~/Content/css/bootstrap")
	@Scripts.Render("~/bundles/modernizr")
	@{
		if (User.Identity.IsAuthenticated)
		{
			ViewBag.LoginOptionText = "Logout";
			ViewBag.LoginOptionLink = Url.Action("Logout", "Authorize");
		}
		else
		{
			ViewBag.LoginOptionText = "Login";
			ViewBag.LoginOptionLink = "Login";

			ViewBag.RegisterOptionText = "Register";
			ViewBag.RegisterOptionLink = "Register";
		}
	}
</head>
<body>
    <div class="container-fluid">
		<div class="grid-container">
			<div class="header">
				<div class="title">
					<a href="@Url.Action("Index", "User")" class="link">
						<h1>
							<img src="~/Content/img/logo.png" class="logo" />
							Fledge
						</h1>
					</a>
				</div>

				<div class="main-title">
					<h2>
						Fledge it's a new social network
					</h2>
				</div>

				<div class="options">
					<h3>
						<a class="link" href="@ViewBag.RegisterOptionLink">@ViewBag.RegisterOptionText</a>
						<a class="link" href="@ViewBag.LoginOptionLink">@ViewBag.LoginOptionText</a>
						<a class="link" href="#">Change theme</a>
						<a class="link" href="#">Help</a>
					</h3>
				</div>
			</div>

			@RenderBody()

		<div class="footer fixed-bottom">
			<div>
			</div>

			<div class="icons">
				<p>
					Icons made by <br />
					<a href="https://www.freepik.com" title="Freepik">Freepik</a>
					<a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a>
					<a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> <br />
					from
					<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
				</p>
			</div>

			<div>
			</div>
		</div>
		</div>
    </div>
</body>
</html>
