﻿<script src="~/Scripts/script.js"></script>

@helper GetPosts(IEnumerable<SimpleSocialNetwork.Models.PostViewModel> posts)
{
	foreach (var post in posts)
	{
		<div>
			<h2>
				@post.Title
				<input type="image" src="~/Content/img/remove.png" class="remove-btn" id="@post.Id" onclick="deletePost(id)" />
				<input type="image" src="~/Content/img/edit.png" class="edit-btn" id="@post.Id" onclick="updatePost(id)" />
			</h2>
			<h5>@post.CreatedAt.ToString("dd/MM/yyyy HH:mm")</h5>
			<p class="post-content">@post.Content</p>
		</div>
	}
}
