﻿@{
	ViewBag.Title = "Error403";
}

<div class="main-content">
	<div class="container-center">
		<h1 class="title">403</h1>
		<h1 class="title">Access denied.</h1>
		<img src="~/Content/img/error2.png" class="error-img" />
	</div>
</div>