﻿
@{
    ViewBag.Title = "BadRequest";
}

<div class="main-content">
	<div class="container-center">
		<h1 class="title">400</h1>
		<h1 class="title">Bad request</h1>
		<img src="~/Content/img/error.png" class="error-img" />
	</div>
</div>