﻿
@{
    ViewBag.Title = "Error";
}

<div class="main-content">
	<div class="container-center">
		<h1 class="title">500</h1>
		<h1 class="title">Unexpected error</h1>
		<img src="~/Content/img/error.png" class="error-img" />
	</div>
</div>