﻿@{
	ViewBag.Title = "NotFound";
}

<div class="main-content">
	<div class="container-center">
		<h1 class="title">404</h1>
		<h1 class="title">Page not found</h1>
		<img src="~/Content/img/sad.png" class="error-img" />
	</div>
</div>