﻿@model SimpleSocialNetwork.Models.PostViewModel
@{
    ViewBag.Title = "ChangePost";
}

<div class="main-content">
	<h1 class="title">Update post</h1>
	<div class="authorize-form">
		@if (Model != null)
		{
			using (Html.BeginForm("ChangePost", "User", FormMethod.Post))
			{
				<h3>Theme</h3>
				@Html.ValidationMessageFor(m => m.Content) <br />
				@Html.TextAreaFor(m => m.Title, new { @class = "post-title", placeholer = Model.Title })

				<h3>Post</h3>
				@Html.ValidationMessageFor(m => m.Content) <br />
				@Html.TextAreaFor(m => m.Content, new { @class = "post-text", placeholer = Model.Content })

				@Html.HiddenFor(m => m.Id)
				@Html.ValidationSummary(true);

				<p class="send-button">
					<input type="submit" class="my-button" value="Save" />
				</p>
			}
		}
	</div>
</div>