﻿@model SimpleSocialNetwork.Models.MessageViewModel
@{
	ViewBag.Title = "Chat";
	ViewBag.LoginOptionText = "Log out";
	ViewBag.LoginOptionLink = "#";
}

<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="container">
	<h2 class="title">Chat with @ViewBag.FriendName</h2>
	<div class="chat-container" id="chat">
		@if (ViewBag.Messages != null)
		{
			foreach (var message in ViewBag.Messages)
			{
				if (message.SenderId == ViewBag.SenderId)
				{
					<p class="message-sender">
						<b>You</b>
						<br />
						<span class="created">@message.CreatedAt</span>
						<br />
						@message.Content
						
					</p>
				}
				else
				{
					<p class="message-receiver">
						<b>@ViewBag.FriendName</b>
						<br />
						<span class="created">@message.CreatedAt</span>
						<br />
						@message.Content
					</p>
				}
			}
		}
	</div>

	@using (Ajax.BeginForm("Chat", "User", new AjaxOptions { UpdateTargetId = "chat", HttpMethod = "Post" }))
	{
		<br />
		<h3>Message</h3>
		@Html.TextAreaFor(m => m.Content, new { @class = "message-form", id = "message" })
		<input type="submit" class="my-button" value="Send"/>
	}
</div>