﻿@model PagedList.IPagedList<SimpleSocialNetwork.Models.UserPostViewModel>
@using PagedList.Mvc

@{ 
	string partial = "Feed";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div>
	<h1 class="title">Feed</h1>
	@if (Model != null && Enumerable.Any(Model))
	{
		<div>
			@foreach (var post in Model)
			{
				<div class="feed-post">
					@if (post.Owner != null)
					{
						string path = "~/Content/img/avatar.jpg";
						string loc = $"~/Files/avatars/user-{post.Owner.Id}/{post.Owner.Avatar}";
						if (File.Exists(Server.MapPath(loc)))
						{
							path = $"~/Files/avatars/user-{post.Owner.Id}/{post.Owner.Avatar}";
						}
						<p>
							<img src="@Url.Content(path)" alt="Avatar" class="small-avatar" />
							<a href="@Url.Action("UserProfile", "User", new { post.Owner.Id })" class="link" id="@post.Owner.Id">
								<span class="friend-name">@post.Owner.Name</span>
							</a>
						</p>
					}
					<div class="post-content">
						<h2>
							@post.Title
						</h2>
						<h5>@post.CreatedAt.ToString("dd/MM/yyyy HH:mm")</h5>
						<p>@post.Content</p>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<br />
		<h3 class="title">None</h3>
	}
	<br />
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
	@Html.PagedListPager(Model, page => Url.Action("Index", "User", new { partial, page }))
</div>