﻿@model SimpleSocialNetwork.Models.ClientProfileViewModel
@{
	ViewBag.Title = "Friends";
}

<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="container-center">
	<h2 class="title">Find new friends</h2>
	@using (Ajax.BeginForm("Friends", "User", new AjaxOptions { UpdateTargetId = "friends-container", HttpMethod = "Post" }))
	{
		<h3>Sort by name or location</h3>
		@Html.TextBoxFor(m => m.Name, new { @class = "authorize-field" })
		<p>
			<input type="submit" class="my-button" value="Find" />
		</p>
	}

<div class="users-container">
	@if (ViewBag.Users != null)
	{
		IEnumerable<SimpleSocialNetwork.Models.ClientProfileViewModel> users = ViewBag.Users;
		int counter = 1;
		if (users.Count() == 0)
		{
			<div>
				<p>There is no users to show</p>
			</div>
		}
		else
		{
			foreach (var user in users)
			{
				string path = "~/Content/img/avatar.jpg";
				string loc = $"~/Files/avatars/user-{user.Id}/{user.Avatar}";
				if (File.Exists(Server.MapPath(loc)))
				{
					path = $"~/Files/avatars/user-{user.Id}/{user.Avatar}";
				}
				
				<div class="users">
					<p>
						<span class="user-text">
							@counter.

							<img src="@Url.Content(path)" alt="Avatar" class="small-avatar" />
							<a href="@Url.Action("UserProfile", "User", new { user.Id })" class="link">
								@user.Name
							</a>
						</span>

						<button class="my-button add-button" id="@user.Id" onclick="addFriend('@user.Id');">
							Add
						</button>
						<br />
						@{counter++;}
					</p>
				</div>
			}
		}
	}
	else
	{
		<h2 class="title">There is no friends to add right now</h2>
	}
</div>

	<p>
		<button class="my-button" onclick="location.href='@Url.Action("Index", "User")'">Back</button>
	</p>
</div>