﻿@using SimpleSocialNetwork.Models
@using PagedList.Mvc

@model ClientProfileViewModel

@{
	ViewBag.Title = "Fledge";
	ViewBag.LoginOptionText = "Log out";
	ViewBag.LoginOptionLink = "#";
	var posts = ViewBag.Pagination as PaginationPostViewModel;
	var feed = ViewBag.Pagination as PagedList.IPagedList<UserPostViewModel>;

	string avatarPath = "~/Content/img/avatar.jpg";
	string dir = $"~/Files/avatars/user-{Model.Id}/{Model.Avatar}";
	if (File.Exists(Server.MapPath(dir)))
	{
		avatarPath = $"~/Files/avatars/user-{Model.Id}/{Model.Avatar}";
	}
}
<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="main-content" id="placeHolderDiv">
	@{ 
		if(posts != null)
		{
			Html.RenderPartial("PostForm", posts);
		}
		else if(feed != null)
		{
			Html.RenderPartial("Feed", feed);
		}
	}
</div>

<div class="friend-list">
	<div class="friends">
		<div>
			<h2 class="title">Friends</h2>
			@foreach (var friend in ViewBag.Friends)
			{
				string path = "~/Content/img/avatar.jpg";
				string loc = $"~/Files/avatars/user-{friend.Id}/{friend.Avatar}";
				if (File.Exists(Server.MapPath(loc)))
				{
					path = $"~/Files/avatars/user-{friend.Id}/{friend.Avatar}";
				}
				<p>
					<img src="@Url.Content(path)" alt="Avatar" class="small-avatar" />
					<a href="@Url.Action("UserProfile", "User", new { friend.Id })" class="link" id="@friend.Id">
						<span class="friend-name">@friend.Name</span>
					</a>
				</p>
			}
		</div>
	</div>
</div>

<div class="utility">
	<div>
		<img src="~/Content/img/banner.png" class="banner" />
	</div>

	<div>
		<img src="~/Content/img/banner2.png"  class="banner" />
	</div>
</div>

<div class="user-info">
	<div>
		<h2 class="title">@Model.Name</h2>
		<img class="avatar" src="@Url.Content(avatarPath)" alt="Avatar" />
		
		<h3 class="title">@Model.Status</h3>

		<div class="settings">
			<button class="my-button" id="Feed" onclick="getPartial(id)">Feed</button>
			<button class="my-button" id="PostForm" onclick="getPartial(id)">Profile</button>
			<button class="my-button" onclick="location.href='@Url.Action("Friends", "User")'">Find friends</button>
			<button class="my-button" onclick="location.href='@Url.Action("Info", "User")'">Change my info</button>
			<button class="my-button">Options</button>
		</div>
	</div>

</div>

<div class="sidebar">
	<div>
		<img src="~/Content/img/banner.png" class="banner" />
	</div>

	<div>
		<img src="~/Content/img/banner2.png" class="banner" />
	</div>
</div>
