﻿@model SimpleSocialNetwork.Models.ClientProfileViewModel

@{
	ViewBag.Title = "Info";
}
<script src="~/Scripts/script.js" type="text/javascript"></script>

<div class="main-content">
	<div class="authorize-form">
		@using (Html.BeginForm("Info", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "updateForm" }))
		{
			<div class="info-form">
				<table>
					<tr>
						<td>
							<p>
								Name
							</p>
						</td>

						<td>
							<h3>
								@Html.TextBoxFor(m => m.Name, new { @class = "authorize-field", placeholer = Model.Name }) <br />
								@Html.ValidationMessageFor(m => m.Name)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								Status
							</p>
						</td>

						<td>
							<h3>
								@Html.TextBoxFor(m => m.Status, new { @class = "authorize-field", placeholer = Model.Status }) <br />
								@Html.ValidationMessageFor(m => m.Status)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								Location
							</p>
						</td>

						<td>
							<h3>
								@Html.TextBoxFor(m => m.Location, new { @class = "authorize-field", placeholer = Model.Location }) <br />
								@Html.ValidationMessageFor(m => m.Location)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								Date of birth
							</p>
						</td>

						<td class="input-field">
							<h3>
								@Html.TextBoxFor(m => m.BirthdayDate, "{0:dd/MM/yyyy}", new { @class = "authorize-field", placeholer = Model.BirthdayDate }) <br />
								@Html.ValidationMessageFor(m => m.BirthdayDate)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								About
							</p>
						</td>

						<td>
							<h3>
								@Html.TextAreaFor(m => m.About, new { @class = "about-field", placeholer = Model.About }) <br />
								@Html.ValidationMessageFor(m => m.About)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								Email
							</p>
						</td>

						<td>
							<h3>
								@Html.TextBoxFor(m => m.Email, new { @class = "authorize-field", placeholer = Model.Email }) <br />
								@Html.ValidationMessageFor(m => m.Email)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								New password
							</p>
						</td>

						<td>
							<h3>
								@Html.PasswordFor(m => m.Password, new { @class = "authorize-field", placeholer = Model.Password }) <br />
								@Html.ValidationMessageFor(m => m.Password)
							</h3>
						</td>
					</tr>

					<tr>
						<td>
							<p>
								Avatar
							</p>
						</td>

						<td class="input-field">
							<h3>
								@Html.TextBoxFor(m => m.AvatarFile, new { @class = "file-field", type = "file", accept = "image/x-png,image/gif,image/jpeg" }) <br />
								@Html.ValidationMessageFor(m => m.AvatarFile) <br />
							</h3>
						</td>
					</tr>
				</table>
			</div>

			@Html.ValidationSummary(true);
			<p class="send-button">
				<input type="submit" class="my-button" value="Save" />
			</p>
		}
	</div>
</div>