﻿@using PagedList.Mvc
@using SimpleSocialNetwork.Models
@model PaginationPostViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/script.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="post-form">
	<h1>My posts</h1>
	<p class="lead">Publish your thoughts here!</p>
	@using (Ajax.BeginForm("PostForm", new AjaxOptions { UpdateTargetId = "html-container", HttpMethod = "Post" }))
	{
		<h3>Theme</h3>
		@Html.TextAreaFor(m => m.NewPost.Title, new { @class = "post-title", required = "required", maxlength = 20 }) <br />
		@Html.ValidationMessageFor(m => m.NewPost.Title);

		<h3>Post</h3>
		@Html.TextAreaFor(m => m.NewPost.Content, new { @class = "post-text", required = "required", maxlength = 500 }) <br />
		@Html.ValidationMessageFor(m => m.NewPost.Content);
		@Html.ValidationSummary(true);

		<p>
			<input type="submit" class="my-button" value="Send" />
		</p>
	}
</div>

<div id="html-container">
	@if (Model.Posts != null && Enumerable.Any(Model.Posts))
	{
		foreach (var post in Model.Posts)
		{
			<div>
				<h2>
					@post.Title
					<input type="image" src="~/Content/img/remove.png" class="remove-btn" id="@post.Id" onclick="deletePost(id)" />
					<input type="image" src="~/Content/img/edit.png" class="edit-btn" id="@post.Id" onclick="updatePost(id)" />
				</h2>
				<h5>@post.CreatedAt.ToString("dd/MM/yyyy HH:mm")</h5>
				<p class="post-content">@post.Content</p>
			</div>
		}
	}
	else
	{
		<div>
			<h2>Default post</h2>
			<p>
				Hey! Try to post something new to your account!
			</p>
		</div>
	}
	<br />
	Page @(Model.Posts.PageCount < Model.Posts.PageNumber ? 0 : Model.Posts.PageNumber) of @Model.Posts.PageCount
	@Html.PagedListPager(Model.Posts, page => Url.Action("Index", new { page }))
</div>