﻿@model SimpleSocialNetwork.Models.ClientProfileViewModel

@{
	ViewBag.Title = "UserProfile";
	string path = "~/Content/img/avatar.jpg";
	string loc = $"~/Files/avatars/user-{Model.Id}/{Model.Avatar}";
	if (File.Exists(Server.MapPath(loc)))
	{
		path = $"~/Files/avatars/user-{Model.Id}/{Model.Avatar}";
	}
}
<script src="~/Scripts/script.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="main-content">
	<div class="user-profile">

		<div class="about-user-left">
			<h2>@Model.Name</h2>
			<p>
				<img src="@Url.Content(path)" alt="Avatar" class="avatar" />
			</p>

			<p>
				@Html.ActionLink("Chat", "Chat", "User", new { Model.Id }, new { @class = "my-button chat-button" })
			</p>

			@if (ViewBag.IsFriend)
			{
				<p>
					<button class="my-button" id="@Model.Id" onclick="removeFriend('@Model.Id')">
						Remove friend
					</button>
				</p>

			}
			else
			{
				<p>
					<button class="my-button" id="@Model.Id" onclick="addFriend('@Model.Id')">
						Add friend
					</button>
				</p>

			}
		</div>

		<div class="about-user">
			<p>
				<b>Status: </b>
				@Model.Status
			</p>

			<p>
				<b>Location: </b> @Model.Location
			</p>

			<p>
				<b>Birthday date: </b> @Model.BirthdayDate.ToString("dd/MM/yyyy")
			</p>

			<p>
				<b>Business email: </b> @Model.Email
			</p>

			<p>
				<b>Account created: </b> @Model.CreatedAt.ToString("dd/MM/yyyy")
			</p>

			<p>
				<b>About: </b> @Model.About
			</p>
		</div>

		<div class="user-posts">
			<h2 class="title">Posts</h2>
			@if (ViewBag.Posts != null && Enumerable.Any(ViewBag.Posts))
			{
				<div class="posts">
					@foreach (var post in ViewBag.Posts)
					{
						<div>
							<h2>
								@post.Title
							</h2>
							<h5>@post.CreatedAt.ToString("dd/MM/yyyy HH:mm")</h5>
							<p>@post.Content</p>
						</div>
					}
				</div>
			}
			else
			{
				<br />
				<h3 class="title">None</h3>
			}
		</div>
	</div>
</div>