﻿html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.body-content {
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.05fr 1fr 1fr 0.05fr;
    grid-template-areas: "header header header header" "user-info main-content main-content friends" "sidebar main-content main-content utility" "footer footer footer footer";
    min-height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 0.8fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    grid-area: header;
    position: sticky;
    background-color: #0094ff;
    top: 0;
    width: 100%;
    max-height: 10vh;
    z-index: 10;
}

.main-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    grid-area: main-content;
    margin-left: 15px;
    margin-right: 15px;
}

.friend-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    grid-area: friends;
    background-color: #edeef0;
}

.utility {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    grid-area: utility;
    background-color: #edeef0;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    grid-area: user-info;
    background-color: #edeef0;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    grid-area: sidebar;
    background-color: #edeef0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    grid-area: footer;
    background-color: #333333;
    bottom: 0;
    width: 100%;
    color: white;
    min-height: 10vh;
}


.logo {
    width: 40px;
    margin: 5px auto -6px auto;
    left: 160px;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    margin-top: 15px;
    text-align: center;
}

.options {
    text-align: center;
    margin-top: 15px;
}

.options a {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
}

.options a:hover {
    transition: linear 0.1s;
    text-decoration: underline;
}

.icons {
    color: white;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.icons a {
    color: #0094ff;
    text-decoration: none;
}

.icons a:hover {
    text-decoration: underline;
}

.friend {
    margin-bottom: 30px;
    height: 30px;
    text-align: center;
}

.small-avatar {
    display: inline-block;
    width: 50px;
    margin-bottom: -13px;
}

img.small-avatar {
    border-radius: 50%;
}

.avatar {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.friend-name {
    font-size: 28px;
    margin-left: 4px;
}

.banner {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.settings {
    text-align: center;
}

.my-button {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #478fcf 100%);
    background-color: #2dabf9;
    border-radius: 5px;
    border: 1px solid #0b0e07;
    display: block;
    margin: 0 auto 10px auto;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 9px 36px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    transition-duration: 1s;
}

.my-button:hover {
    background: linear-gradient(to bottom, #478fcf 5%, #2dabf9 100%);
    background-color: #ff0000;
}

.my-button:active {
    position: relative;
    top: 1px;
}

.post-form {
    display: block;
    text-align: center;
}

.post-form h3 {
    margin: 10px 0;
}

.post-title {
    display: block;
    min-width: 300px;
    margin: 0 auto;
    height: 30px;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.post-text {
    min-width: 600px;
    height: 200px;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.send-button {
    margin-left: 5px;
}

.send-button .my-button {
    width: 110px;
    height: 35px;
    text-align: center;
    padding: 0;
}

.container-center {
    margin: 0;
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 750px;
}

.container-center h3 {
    margin: 15px;
}

.authorize-field {
    width: 150px;
    height: 25px;
    margin-bottom: 15px;
}

.file-field {
    min-width: 150px;
    min-height: 25px;
    padding-top: 10px;
}
.error {
    color: red;
    text-align: center;
}

.add-button {
    float: right;
    margin-top: 10px;
}

.users-container {
    padding: 5px;
    border: 1px solid;
    max-height: 450px;
    min-height: 350px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.users {
    height: 70px;
}

.users p {
    margin-top: 10px;
    font-size: 20px;
}

.user-text {
    float: left;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link :hover {
    transition: linear 0.1s;
    text-decoration: underline;
}

.chat-container {
    border: 1px solid black;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 400px;
}

.chat-container {
    min-height: 400px;
    max-height: 400px;
    min-width: 80vh;
    overflow-y: scroll;
}

.chat-container h5 {
    display: inline;
    margin: 0;
    text-align: inherit;
    padding: 0;
}

.chat-container p {
    width: 95%;
}

.message-form {
    width: 300px;
    height: 100px;
    resize: none;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message-sender {
    display: block;
    float: right;
    text-align: right;
    margin-right: 15px;
}

.message-receiver {
    display: block;
    float: left;
    text-align: left;
    margin-left: 15px;
}

.admin-buttons {
    width: 300px;
    height: 50px;
    font-size: 18px;
}

.user-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}

.user-table td {
    min-width: 75px;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

.edit-button {
    margin: 0;
    text-align: center;
}

.delete-button {
    display: inline;
    margin-left: 5px;
}

.update-button {
    display: inline;
    margin-right: 5px;
}

.chat-button {
    width: 50px;
}

.table-wrapper {
    position: absolute;
    right: 50%;
}

.table-container {
    position: relative;
    right: -50%;
    overflow-y: scroll;
    max-height: 70vh;
    font-size: 14px;
}

.table-container p {
    font-size: 16px;
}

.profile-avatar {
    width: 100px;
}

.validation-summary-errors {
    color: red;
    text-align: center;
    margin-right: 40px;
}

.validation-summary-errors ul {
    list-style-type: none;
    margin: 0;
    font-size: 18px;
}

.validation-summary-errors li {
    list-style-type: none;
    margin-top: 10px;
    font-size: 18px;
}

.field-validation-error {
    color: red;
}

.deleted-model {
    background-color: #f39191;
}

.edit-btn {
    float: right;
    width: 25px;
}

.remove-btn {
    float: right;
    padding-top: 1.5px;
    padding-left: 2px;
    width: 24px;
}

.user-profile {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.user-profile p {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-user-left {
    margin-left: 35px;
    float: left;
    text-align: center;
    max-width: 200px;
}

.about-user {
    margin: 40px auto 30px auto;
    max-width: 320px;
    width: 100%;
    text-align: left;
    float: right;
}

.friends {
    margin-left: auto;
    margin-right: auto;
}

.friends p {
    text-align: left;
    padding-left: 15px;
}

.user-posts {
    display: inline-block;
    width: 600px;
    margin: 0 auto 50px auto;
}

.posts {
    overflow-y: scroll;
    overflow-x: visible;
    max-height: 500px;
    border: 1px solid;
    padding-left: 10px;
}

.post-content {
    word-wrap: break-word;
}

.authorize-form {
    margin: 0;
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 750px;
}

.feed-post {
    margin: 30px 0 30px 10px;
}

.current-user {
    margin: 0;
}

.error-img {
    width: 250px;
}

.info-form table {
    margin-left: auto;
    margin-right: auto;
}

.info-form p {
    font-weight: bold;
    text-align: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 230px;
}

.info-form .authorize-field {
    padding-bottom: 5px;
    min-height: 35px;
}

.info-form .field-validation-error {
    font-weight: 400;
    font-size: 14px;
}

.info-form h3 {
    margin: 0;
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
}

.info-form td {
    padding-right: 20px;
    min-width: 400px;
}

.about-field {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    height: 50px;
    width: 152px;
}

.created {
    font-size: 12px;
}