﻿@model SimpleSocialNetwork.Models.LoginViewModel

@{
	ViewBag.Title = "Login";
}

<div class="main-content">
	<h1 class="title">Login to account</h1>
	<div class="authorize-form">
		@using (Html.BeginForm("Login", "Authorize", FormMethod.Post))
		{
			<h3>Email</h3>
			@Html.TextBoxFor(m => m.Email, new { @class = "authorize-field" }) <br />
			@Html.ValidationMessageFor(m => m.Email)

			<h3>Password</h3>
			@Html.PasswordFor(m => m.Password, new { @class = "authorize-field" }) <br />
			@Html.ValidationMessageFor(m => m.Password)

			<p class="send-button">
				<input type="submit" class="my-button" value="Login" />
			</p>
		}
		@Html.ValidationSummary(true)
	</div>
</div>
