﻿@model SimpleSocialNetwork.Models.ClientProfileViewModel

@{
	ViewBag.Title = "Register";
}

<div class="main-content">
	<h1 class="title">Register new account</h1>
	<div class="authorize-form">
		@using (Html.BeginForm("Register", "Authorize", FormMethod.Post))
		{
			<h3>Name</h3>
			@Html.TextBoxFor(m => m.Name, new { @class = "authorize-field" }) <br />
			@Html.ValidationMessageFor(m => m.Name)

			<h3>Birthday date</h3>
			@Html.TextBoxFor(m => m.BirthdayDate, new { @class = "authorize-field" }) <br />
			@Html.ValidationMessageFor(m => m.BirthdayDate)

			<h3>Email</h3>
			@Html.TextBoxFor(m => m.Email, new { @class = "authorize-field" }) <br />
			@Html.ValidationMessageFor(m => m.Email)

			<h3>Password</h3>
			@Html.PasswordFor(m => m.Password, new { @class = "authorize-field", required = "required" }) <br />
			@Html.ValidationMessageFor(m => m.Password)

			@Html.ValidationSummary(true);
			<p class="send-button">
				<input type="submit" class="my-button" value="Register" />
			</p>
		}
	</div>
</div>