﻿@{
    ViewBag.Title = "Register complete";
}

<div class="container-center">
	<p>
		<h2 class="title">Registration complete!</h2>
		You may now <a href="Login">login</a> to your new account!
	</p>
</div>